* {
    box-sizing: border-box;
  }

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    margin-bottom : 10 px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    min-height: 3.5rem;
    background: white;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    min-height: 3.5rem;
    padding: 10px;
    margin-bottom : 10 px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
  